$bg-color: #36516c;

$window-color: #f6f8fa;

$font-size: 0.9rem;

$label-color: #8e9091;

$registration: #5db052;

$registration-ho: #397231;

$facebook: #4167b3;

$facebook-ho: #294170;

$btn-text-color: #ffff;

$svg-col: #c3c3c3;