@import "./template";
@import "./vars";

body {
  height: 100vh;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    background-color: $window-color;
    width: 550px;
    padding: 40px;
    h1 {
      text-align: center;
      font-size: $font-size;
    }
    h2 {
      text-align: center;
      font-size: $font-size;
      font-weight: 500;
      margin: 10px 0 30px 0;
    }
    form {
      width: 60%;
      margin: 0 auto;
      input {
        width: 100%;
        padding-left: 10px;
        &:first-of-type {
          margin-bottom: 15px;
        }
        &:focus::placeholder {
          color: #bbbbbb;
        }
      }
      .birthday {
        width: 100%;
      }
      label {
        display: block;
        font-size: $font-size;
        color: $label-color;
        margin: 20px 0 15px 0;
      }
      .custom-select {
        width: 100%;
        position: relative;
        display: inline-block;
        select {
          padding-left: 10px;
          color: $label-color;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          &:first-of-type {
            width: 25%;
          }
          &:nth-of-type(2) {
            width: 42%;
            margin: 0 5px;
          }
          &:last-of-type {
            width: 25%;
          }
        }
        .arrow-down-container {
          svg {
            fill: $svg-col;
            position: absolute;
            top: 44%;
            right: 10px;
            width: 10px; 
            height: 10px;
            &:first-of-type {
              right: 219px;
            }
            &:nth-of-type(2) {
              right: 91px;
            }
          }
        }
      }
      button {
        width: 100%;
        margin: 15px 0;
        color: $btn-text-color;
        font-weight: bold;
        &:first-of-type {
          background-color: $registration;
          &:hover {
            background-color: $registration-ho;
          }
        }
        &:last-of-type {
          background-color: $facebook;
          margin-bottom: 0;
          &:hover {
            background-color: $facebook-ho;
          }
        }
      }
      .or {
        display: flex;
        align-items: center;
        justify-content: center;
        hr {
          margin-top: 2px;
          width: 35px;
        }
        p {
          font-size: 0.8rem;
          margin: 0 10px;
          color: $label-color;
        }
      }
    }
  }
}
